body
{
    background-color: #4f5154;
    color: white;
}
p
{
    background-color: #9b9da0;
    padding: 14px 16px;
}
h1
{
    border: 5px solid #568ee2;
    background-color: black;
    padding: 14px 16px;
}
h2
{
    background-color: #4f5154;
    border: 5px dotted white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
    color: white;
  }

nav .active {
    background-color: #568ee2;
    color: black;
  }

nav li:last-child
{
    float: right;
}

section {
    display: flex;
   }
   
aside {
    flex: 1
    
   }
   
article {
    flex: 4
   }
img
{
       width: 200px;
       height: 200px;
}
